<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mikel.poseidon">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".RootFitbitApplication"
        android:icon="@drawable/b"
        android:label="Weight Manager"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:label">
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyDBvXf8DJg0gSia3oLi38hJcePHby3Cu6o" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.mikel.poseidon.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recordweight.GetWeight"
            android:parentActivityName=".recordweight.ChooseManAuto"
            android:screenOrientation="portrait" />
        <activity
            android:name=".statistical.ViewSummary"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".statistical.Graph"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Tracker"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".statistical.StepsRecord"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".preferences.PreferencesList"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".preferences.SetGraphLimits"
            android:label="@string/title_activity_set_graph_limits"
            android:parentActivityName=".preferences.PreferencesList"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="com.mikel.poseidon.SetGraphLimits" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".preferences.DeleteData"
            android:parentActivityName=".preferences.PreferencesList"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.mikel.poseidon.DeleteData" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".preferences.FitbitBtnActivity"
            android:parentActivityName=".preferences.PreferencesList"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.mikel.poseidon.FitbitBtnActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".preferences.UserProfile"
            android:parentActivityName=".preferences.PreferencesList"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.mikel.poseidon.UserProfile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".preferences.Reminders"
            android:parentActivityName=".preferences.PreferencesList"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.mikel.poseidon.Reminders" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".preferences.Goals"
            android:parentActivityName=".preferences.PreferencesList"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.mikel.poseidon.Goals" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".preferences.SendDatabase"
            android:parentActivityName=".preferences.PreferencesList"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.mikel.poseidon.SendDatabase" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".preferences.WeatherNotificationsPrefs"
            android:parentActivityName=".preferences.PreferencesList"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.mikel.poseidon.WeatherNotificationsPrefs" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".activity.TrackingService"
            android:screenOrientation="portrait" />
        <service android:name=".notifications.ExerciseNotifService" />
        <service android:name=".notifications.PermanentNService" />
        <service
            android:name=".notifications.WeatherService"
            android:enabled="true" />
        <receiver android:name=".notifications.WeightNotifReceiver"/>

        <!-- Will not be called unless the application explicitly enables it -->
        <receiver
            android:name=".notifications.WeightNotifBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".notifications.WeatherReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <activity
            android:name=".recordweight.GetWeightFitbit"
            android:parentActivityName=".recordweight.ChooseManAuto"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recordweight.ChooseManAuto"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".statistical.CurrentState"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChooseActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".intro.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".intro.IntroActivity" />
        <activity
            android:name=".preferences.BluetoothDeviceActivity"
            android:parentActivityName=".preferences.PreferencesList"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.mikel.poseidon.BluetoothDeviceActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>