<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mikel.poseidon">

    <application
        android:label="POSEIDON"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:label">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GetWeight" />
        <activity android:name=".ViewSummary" />
        <activity android:name=".Preferences" />
        <activity android:name=".Graph" />
        <activity android:name=".Steps"></activity>
        <activity android:name=".StepsRecord"></activity>
        <service android:name=".StepService"></service>
        <service android:name=".WeightNotifService"></service>
        <receiver android:name="com.mikel.poseidon.WeightNotifBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

</manifest>