<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mikel.poseidon">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".RootFitbitApplication"
        android:icon="@drawable/b"
        android:label="Weight Manager"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:label">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.mikel.poseidon.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GetWeight"
            android:parentActivityName=".ChooseManAuto"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewSummary"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Graph"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Steps"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StepsRecord"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreferencesList"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetGraphLimits"
            android:label="@string/title_activity_set_graph_limits"
            android:parentActivityName=".PreferencesList"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="com.mikel.poseidon.SetGraphLimits" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeleteData"
            android:parentActivityName=".PreferencesList"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.mikel.poseidon.DeleteData" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FitbitBtnActivity"
            android:parentActivityName=".PreferencesList"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.mikel.poseidon.FitbitBtnActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserProfile"
            android:parentActivityName=".PreferencesList"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.mikel.poseidon.UserProfile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Reminders"
            android:parentActivityName=".PreferencesList"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.mikel.poseidon.Reminders" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Goals"
            android:parentActivityName=".PreferencesList"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.mikel.poseidon.Goals" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SendDatabase"
            android:parentActivityName=".PreferencesList"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.mikel.poseidon.SendDatabase" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".StepService"
            android:screenOrientation="portrait" />
        <service android:name=".utility.ExerciseNotifService" />

        <receiver
            android:name=".WeightNotifBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".WeightNotifReceiver"
            android:process=":remote" />

        <activity
            android:name=".GetWeightFitbit"
            android:parentActivityName=".ChooseManAuto"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseManAuto"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CurrentState"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityTracker"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IntroActivity" />
        <activity android:name=".BluetoothDeviceActivity"
            android:parentActivityName=".PreferencesList"
            android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="com.mikel.poseidon.BluetoothDeviceActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>

    </application>

</manifest>